.top-part {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.top-part svg {
    height: 5rem;
}

.restaurant-control-main {
    display: flex;
}

.dishes-list {
    flex-grow: 1;
    max-width: 30vw;
}

.add-dish {
    flex-grow: 2;
}